<!-- Slider -->
<section id="sec-slider">
    <div id="jssor_1" class="slider-jssor">
        <div class="js-slider" data-u="slides" >
            <div data-p="225.00" style="display: none;">
                <%= image_tag "sliders/slider-01.jpg", alt: "logo" %>
            </div>
            <div data-p="225.00" style="display: none;">
                <%= image_tag "sliders/slider-02.jpg", alt: "logo" %>
            </div>
            <div data-p="225.00" style="display: none;">
                <%= image_tag "sliders/slider-03.jpg", alt: "logo" %>
            </div>
        </div>
                <!-- caption -->
        <div class="slider-text-center">
            <div class="center">
                <div class="slider-logo">
                    <%= image_tag "tdrlogo2.png", alt: "logo", class: "wow zoomIn" %>
                </div>
                <div class="slider-caption">
                    <div class="big-caption wow zoomIn" data-wow-delay="1s">TDR Travel</div>
                    <p class="wow zoomIn" data-wow-delay="1.4s">ABC ● XYZ ● ABC</p>
                </div>
            </div>
        </div>
                <!-- navigator -->
        <div data-u="navigator" class="jssorb05" data-autocenter="1">
            <div data-u="prototype"></div>
        </div>
    </div>
</section>
<!-- ./Slider -->

