<li>
  <% if a.trackable %>
    <%= render "shared/activity_owner", a: a %> updated location
    <%= link_to a.trackable.name, category_path(a.trackable) %>
    <%= time_ago_in_words activity.created_at %> <%= t :ago %>
  <% else %>
    A location that is currently deleted was updated.
  <% end %>
</li>
