<li class="list-group-item list-group-item-success">
  <% if a.trackable %>
    <%= render "shared/activity_owner", a: a %> created category
    <%= link_to a.trackable.name, admin_category_path(a.trackable) %>
    <%= time_ago_in_words activity.created_at %> <%= t :ago %>
  <% else %>
    A category that is currently deleted was added.
  <% end %>
</li>
