<div class="posts-wrapper">
  <div class="container">
    <div class="row profile-header well">
      <div class="col-md-6">
        <div class="img-circle">
          <%= cl_image_tag @user.avatar_url :thumbnail %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="user-name-and-follow">
          <label>Name: <h3 class="profile-user-name"><%= @user.name %></h3></label>
        </div>
        <div>
          <label>Email: <h3 class="profile-user-name"><%= @user.email %></h3></label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="activity-header">
        Activities
      </div>
      
        <ul class="list-group">
          <%= @activities.blank? ? t("activities.nothing")
            : render_activities(@activities) %>
        </ul>
    </div>
  </div>
</div>
