<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <h3>Request's content</h3>
    <p style="word-wrap: break-word"><%= @request.content %></p>
    <span><%= link_to "", requests_path,
      class: "glyphicon glyphicon-circle-arrow-left" %></span>
  </div>
</div>
