@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
a:hover {
    text-decoration: none;
}

input:focus{
  outline: none;
}
textarea {
    resize: none;
}

body {
  padding-top: 70px;
}

@media (min-width: 1600px) {
    .container {
        width: 1450px;
        padding: 0 25px;
    }
}

/*======================================================
				HEADER CSS
======================================================*/

#header {
    padding: 10px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    top: 0;
    z-index: 10000;
    width: 100%;
    background: #fff;
    height: 70px;
    position: fixed!important;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#header.nav-up {
    top: -70px;
    width: 100%;
    z-index: 10000;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#header h1#logo {
    padding: 0;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease
}
#header h1#logo a {
    display: block;
    max-width: 170px
}
#header h1#logo img {
    height: 45px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#header #menu {
    margin-top: 8px;
    float: right;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#header #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#header #menu ul li {
    display: inline-block;
    margin-left: -4px;
    float: left;
    position: relative;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#header #menu .mainmenu .lt-child a {
    padding-right: 10px;
    float: left;
}
#header #menu .mainmenu .lt-child a.btn-danger {
    padding: 3px 7px;
    font-size: 12px;
    text-transform: none;
    margin-top: 3px;
}
#header #menu ul li a {
    font-size: 15px;
    padding: 7px 20px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: #3b3b3b;
}

#header #menu ul li a:hover{
  color: #0094da;
  text-decoration: none;
}
#header #menu ul li a.btn{
    padding-left: 10px;
    text-align: center;
    color: #fff;
    margin-top: 0;
}

#header #icon_menu {
    position: relative;
    cursor: pointer;
    float: left;
    color: #0094da;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 20px
}
#header #icon_menu:hover {
    color: #0094da;
}
#header #icon_menu:before {
    content: "\f0c9";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px
}

#header #menu ul li.has-child:hover > ul.child {
    opacity: 1;
    visibility: visible;
}
#header #menu ul li.has-child:before {
    display: block;
    content: "";
    height: 6px;
    width: 10px;
    margin-top: -2px;
    position: absolute;
    right: 6px;
    top: 50%;
    display: none;
}
#header #menu ul li.has-child .child {
    background: #fff;
    left: 0;
    min-width: 250px;
    position: absolute;
    top: 100%;
    z-index: 999;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}
#header #menu ul li.has-child .child li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px #eee solid;
    font-weight: bold;
    float: none;
}

#header #menu ul li.has-child .child li a {
    color: #3b3b3b;
    font-weight: 500;
    text-transform: none;
}

#header #menu ul li.has-child .child li a:hover {
    color: #0094da;
}

@media (min-width: 993px) {
    #header #menu {
        display: block !important
    }
}
@media (max-width: 992px) {
    #header #menu {
        margin: 15px 0 0 0;
        padding-bottom: 5px;
        padding-top: 5px;
        float: left;
        width: 100%;
        display: none;
        background: #fff;
        border-radius: 4px;
        -webkit-box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
        box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    }
    #header h1#logo {
        position: absolute;
        left: 50px;
        right: 50px;
        padding: 0;
        text-align: center;
        margin: 0 auto!important;
    }
    #header h1#logo a {
        margin: 0 auto;
    }
    #header h1#logo a img {
        height: 40px;
    }
    #header #menu ul li {
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 1px #eee solid;
    }
    #header #menu ul li a {
        padding-left: 15px;
        color: #3b3b3b;
        font-size: 14px;
    }
    #header #menu ul li a:hover {
        color: #0094da;
    }
    #header #menu ul li {
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 1px #eee solid;
    }

    #header #menu ul li.has-child:hover ul.child {
        display: block;
    }

    #header #menu ul li.has-child:before {
        top: 15px;
    }

    #header #menu ul li.has-child ul.child {
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        padding-left: 20px;
        display: none;
    }
}
@media (max-width: 480px) {
    #header #icon_menu {
        margin-top: 15px
    }
}
/*======================================================
				END
======================================================*/


/*======================================================
				LOGIN SINGUP CSS
======================================================*/

.login-bg {
  height: 100%;
//   background-image: image-url('loginbg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.registration-bg {
  height: 100%;
//   background-image: image-url('regbackg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 8px;
//  margin-top: 100px;
}

.panel-heading{
  h1 {
    text-align: center;
  }
}
.form-control{
   margin: 20px 4px;
}

.social .circle{
	background-color: #EEEEEE;
	color: #FFFFFF;
	border-radius: 100px;
	display: inline-block;
	margin: 15px 17px;
	padding: 10px;
}
.social .circle .fa{
    font-size: 14px;
}
.social .facebook{
    background-color: #455CA8;
    color: #FFFFFF;
}
.social .login{
    background-color: #403A3A;
}
.social .facebook:hover{
    background-color: #6E83CD;
}
.social .login:hover{
    background-color: #4D4D4d;
}

.forgot {
    margin-top: 10px;
}
.forgot .forgot-pass {
    font-size: 15px;
}
.forgot .forgot-pass:hover {
    color: #23527c;
    text-decoration: underline;
}


/*======================================================
				END
======================================================*/

/*======================================================
				Slider
======================================================*/

.sec-slider {
  position: relative;
}

/*===== logo and text ==== */
.slider-text-center {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
}
.slider-text-center .center {
  /*vertical-align: middle;*/
  text-align: center;
  color: #fff;
}

.slider-text-center .center img {
  display: none;
  height: auto;
  width: 200px;
  padding: 20px;
}

.slider-text-center .slider-caption .big-caption {
    padding-top: 80px;
    font-size: 80px;
    line-height: 40px;
    text-transform: uppercase;
}
/*.slider-text-center .slider-caption {
  font-size: 32px;
  font-weight: bold;
}*/
.slider-text-center .slider-caption p {
  padding-top: 60px;
  font-size: 60px;
}

@media (min-width: 480px) {
	.slider-text-center .center img {
	  display: none;
	}
    .slider-text-center .slider-caption .big-caption {
        padding-top: 60px;
        font-size: 52px;
        line-height: 40px;
        text-transform: uppercase;
    }
    .slider-text-center .slider-caption p {
        padding-top: 50px;
        font-size: 44px;
        line-height: 28px;
        font-weight: normal;
        text-transform: uppercase;
    }
}

@media (min-width: 767px) {
	.slider-text-center .center img {
	  display: none;
	  height: auto;
	  width: 250px;
	  padding: 20px;
	  text-transform: uppercase;
	}
    .slider-text-center .slider-caption .big-caption {
        padding-top: 80px;
        font-size: 80px;
        line-height: 40px;
        text-transform: uppercase;
    }
    .slider-text-center .slider-caption p {
        padding-top: 50px;
        font-size: 40px;
        line-height: 50px;
        font-weight: normal;
        text-transform: uppercase;
    }
}
@media (min-width: 992px) {
	.slider-text-center .center img{
	  display: inline-block;
	  height: auto;
	  width: 300px;
	  padding: 20px;
	  text-align: center;
	}
    .slider-text-center .slider-caption .big-caption {
        padding-top: 0px;
        font-size: 50px;
        line-height: 44px;
        text-transform: uppercase;
    }
    .slider-text-center .slider-caption p {
        padding-top: 0px;
        font-size: 30px;
        line-height: 70px;
        font-weight: normal;
        text-transform: uppercase;
    }
}
@media (min-width: 1200px) {
	.slider-text-center .center img{
	  display: inline-block;
	  height: auto;
	  width: 300px;
	  padding: 20px;
	  text-align: center;
	}

    .slider-text-center .slider-caption .big-caption {
        padding-top: 0px;
        font-size: 54px;
        line-height: 44px;
        text-transform: uppercase;
    }
    .slider-text-center .slider-caption p {
        padding-top: 0px;
        font-size: 28px;
        line-height: 90px;
        font-weight: normal;
        text-transform: uppercase;
    }
}


/*============  General Styles&Layout  ==================*/
.jssorb05 {
    position: absolute;
    z-index: 999;
    bottom:30px;
    right:16px;
    text-align: center;
    width: 100%;
    height: 20px;
    vertical-align: middle;
}

.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    cursor: pointer;
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 3px solid #fff;
    border-radius: 50%;
    background: #fff;
    opacity: 1;
    cursor: pointer;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.jssorb05 div:hover, .jssorb05 .av {
    width: 22px;
    height: 22px;
    margin-top: -5px;
    margin-left: -5px;
}

.jssorb05:before {
    content: '';
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    z-index: 999;
    display: inline-block;
    width: 260px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}



.slider-jssor {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 1900px;
    height: 900px;
    overflow: hidden;
    visibility: hidden;
}

.js-slider {
        visibility: visible;

    display: block;
    cursor: default;
    position: relative;
    top: 0px;
    left: 0px;
    width: 1900px;
    height: 900px;
    overflow: hidden;
}

.js-slider:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(33, 33, 33, 0.4);
    transition: 1s;
    transition-delay: 0.6s;
    z-index: 100;
}
/*======================================================
				END
======================================================*/

/*======================================================
				HOME MAIN CSS
======================================================*/

.block-title{
    padding: 80px 70px;
}
.block-title .title {
    text-align: left;
    color: #0094da;
    font-weight: bold;
    margin-bottom: 40px;
}
.block-title .title:after {
    content: "";
    background-color: #0094da;
    width: 100%;
    height: 1px;
    display: block;
    margin-top: -15px;
}
.block-title .name-title {
    text-align: right;
    color: #0094da;
    padding-right: 10px;
    font-size: 20px;
}
.block-title .name-title span {
    font-size: 40px;
}

.list-travel{
    display: block;
}
.card{
    margin-bottom: 70px;
    border-radius: 6px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.23);
    background-color: #FFFFFF;
    position: relative;
    height: 450px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.card .header {
    height: 265px;
    position: relative;
    border-radius: 6px 6px 0 0;
    z-index: 3;
}
.card .category {
    padding: 15px;
    color: #9A9A9A;
    font-size: 14px;
    margin-bottom: 0px;
    font-family: "Raleway","Helvetica","Arial", sans-serif;
}
.card .label {
    text-shadow: none;
    font-size: 14px;
    margin-bottom: 0px;
    font-family: "Raleway","Helvetica","Arial", sans-serif;
}
.card h6, .card .h6 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.label-danger {
    background-color: #FF3B30;
}
.label {
    padding: 10px 13px;
    border-radius: 2px;
    display: inline-block;
}
.card .content{
    color: #FFFFFF;
    padding: 15px 15px 5px 15px;
    position: relative;
    z-index: 3;
}
.card {
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
.card:hover{
    opacity: 0.6;
}
.card .filter {
    opacity: 0.3;
    filter: alpha(opacity=30.0);
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.76);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.card .title{
    color: #FFFFFF;
    font-weight: bold;
    margin: 10px 0 20px 0;
    position: relative;
    z-index: 3;
}
.card .title-uppercase {
    text-transform: uppercase;
}
.card h4, .card .h4 {
    font-size: 26px;
    line-height: 30px;
}
h4{
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.card a{
    color: #FFFFFF;
    position: relative;
    z-index: 3;
    -webkit-font-smoothing: antialiased;
    font-family: "Playfair Display","Raleway","Helvetica Neue",Arial,sans-serif;
}
.card .description {
    font-size: 18px;
    position: relative;
    z-index: 3;
}
.card p {
    line-height: 1.3;
    font-family: "Raleway","Helvetica","Arial", sans-serif;
}
#top-travel{
    background: #f2f3f5;
    display: block;
}
#top-travel .block-title .name-title {
    background: #f2f3f5;
}
#top-travel .item {
    padding-left: 20px;
    padding-right: 20px;
}
#top-travel .item .card {
    height: 350px;
}
#top-travel .item .card .header {
    height: 200px;
}
#top-travel .card h4 {
    font-size: 20px;
    line-height: 15px;
}
#top-travel .card .description {
    font-size: 14px;
}

#new-travel {
    background: #fff;
    display: block;
}
#new-travel .block-title .name-title {
    background: #fff;
}
#new-travel .card {
    text-shadow: none;
}
#new-travel .card .category {
    padding: 0;
}
#new-travel .card .title {
    color: #333333;
}
#new-travel .card .description {
    color: #6d6d6d;
}
#new-travel .card a {
    color: #333333;
    font-family: "Playfair Display","Raleway","Helvetica Neue",Arial,sans-serif;
}
/*======================================================
				END
======================================================*/

/*======================================================
				Profile Css
======================================================*/
.posts-wrapper {
    // background-color: #fafafa;
    // height: 100%;
    margin-top: 30px;
}
.profile-header {
  padding: 20px 0;
}

.profile-header img {
  margin: 20px auto;
  height: 200px;
//   width: 200px;
  border-radius: 50%;
  display: block;
  max-width: 100%;
}

.user-name-and-follow {
  display: inline-block;
  padding: 45px 0px 20px 0px;
}
.profile-header label {
    font-size: 28px;
    font-weight: 400;
    color: #0094da;
}
.profile-header h3 {
    color: #818488;
    font-size: 30px;
    font-weight: bold;
}
.profile-user-name {
  display: inline;
  margin: 10px;
}

.activity-header {
  color: #0094da;
    margin: 20px;
    font-size: 45px;
    line-height: 60px;
    font-weight: 900;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.71);
    position: relative;
}
.activity-header:before {
    content: "";
    width: 80px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -31.5px;
    background: #0094da;
}

/*======================================================
                END
======================================================*/

/*======================================================
                Hung Css
======================================================*/
#location-show {
  img {
    margin-bottom: 5px;
  }
  .container {
    width: 100%;
  }
  .content-section-a {
    background-color: #f8f8f8;
  }
}
#form-btn {
  margin-top: 10px;
}
input[type=file] {
  height: auto;
}
.alert-notice {
  @include alert-variant($alert-success-bg,
    $alert-success-border, $alert-success-text);
}

.alert-alert {
  @include alert-variant($alert-danger-bg,
    $alert-danger-border, $alert-danger-text);
}
/*======================================================
                END
======================================================*/

/*======================================================
                Notification Dropdown
======================================================*/
.dropdown {
  display:inline-block;
  margin-left:20px;
}
.glyphicon-bell {
   
    font-size:1.5rem;
  }

.notifications {
   min-width:420px; 
  }
  
  .notifications-wrapper {
     overflow:auto;
      max-height:250px;
    }
    
 .menu-title {
     color:#5aa9d4;
     font-size:1.5rem;
      display:inline-block;
      }
 
.glyphicon-circle-arrow-right {
      margin-left:10px;     
   }
  
   
 .notification-heading, .notification-footer  {
    padding:2px 10px;
       }
      
        
.dropdown-menu.divider {
  margin:5px 0;          
  }

.item-title {
  
 font-size:1.3rem;
 color:#000;
    
}

.button {
  cursor: pointer;
  height: 30px;
}

.button-primary {
  border: none;
}
.button-primary:hover:after {
  display: block;
  position: relative;
  top: 3px;
  right: 3px;
  width: 100px;
  height: 5px;
}
.notifications a.content {
 text-decoration:none;
 background:#ccc;

 }
    
.notification-item {
 padding:10px;
 margin:5px;
 background:#ccc;
 border-radius:4px;
 }

#all-noti {
  padding: 0 5px;
} 
/*======================================================
                END
======================================================*/


/*======================================================
                Show Location Css
======================================================*/
.margin-top {
    margin-top: 60px;
    margin-bottom: 30px;
}

.page-location .jssora22l, .page-location .jssora22r {
    display: block;
    position: absolute;
    width: 40px;
    height: 58px;
    cursor: pointer;
    overflow: hidden;
    background: asset-data-url('sliders/ArrowNavigator.png');
}
.page-location .jssora22l { background-position: -10px -31px; }
.page-location .jssora22r { background-position: -70px -31px; }
.page-location .jssora22l:hover { background-position: -130px -31px; }
.page-location .jssora22r:hover { background-position: -190px -31px; }

.page-location .location {
    margin-top: 10px;
}
.page-location .loca-name {
    font-size: 35px;
    font-weight: bold;
    color: #0094da;
    margin-bottom: 15px;
}
.page-location .loca-content {
    color: #000;
    font-size: 16px;
    padding: 5px 5px;
}
.page-location .loca-content .title {
    color: #000;
    font-size: 18px;
    margin-right: 10px;
    font-weight: 600;
    font-style: normal!important;
}
.page-location .map {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    text-align: center;
}
.page-location .map img {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.page-location .review {
    position: relative;
    width: 100%;
    margin-top: 15px;
    // height: 160px;
}
.review .form-review {
    // position: absolute;
    // bottom: 0px;
    width: 100%;
}
.review .form-review textarea {
    resize: none;
}
.review .form-review .btn {
    margin-top: 35px;
}
.page-location .review-comment {
    background-color: #f6f7f9;
    border: 1px solid #e1e2e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}
.comment-review {
    padding: 5px;
    background-color: #f6f7f9;
    display: block;
    position: relative;
    // border-bottom: 1px solid #e1e2e3;
}
.comment-review:after {
    content: '';
    width: 90%;
    height: 0;
    border-bottom: 1px solid #e1e2e3;
    position: absolute;
    bottom: 0px;
    left: 5%;
}
.comment-review .row {
    margin: 0px;
}
.comment-review .col-md-11, .comment-review .col-md-1, .comment-review .col-md-10 {
    padding-right: 0px;
    padding-left: 5px;
}
.comment-review .review-content {
    display: block;
    padding: 5px;
}
.comment-review .review-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #337ab7;
    // margin-right: 10px;
    display: inline-block;
}
.comment-review .review-content .content {
    // display: inline-block;
    font-size: 14px;
    color: #000;
    font-weight: normal;
    margin-left: 5px;
}
.comment-review .review-votes {
    display: block;
    margin: 0px 5px;
}
.comment-review .review-votes .votes {
    display: inline-block;
    font-size: 12px;
    color: #337ab7;
}
.comment-review .review-votes .votes .glyphicon {
    font-size: 12px;
    margin-left: 5px;
}
.comment-review .review-votes .review-created {
    display: inline-block;
    font-size: 11px;
    line-height: 1;
    color: #90949c;
    font-style: italic;
    padding-left: 10px;
}
.comment-review .review-action {
    display: none;
    font-size: 12px;
}
.comment-review .review-action .glyphicon {
    margin-left: 2px;
    color: #337ab7;
    opacity: 0.75;
}
.comment-review .review-action .glyphicon:hover {
    opacity: 1;
    color: #23527c;
}
.comment-review .review-all:hover .review-action {
    display: block;
}
.comment-review .reply-review:after {
    border-left: 2px solid #dddfe2;
    content: '';
    left: -2px;
    position: absolute;
    width: 0;
    height: 100%;
}
/*======================================================
                END
======================================================*/
