@import "bootstrap-sprockets";
@import "bootstrap";

html {  
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

input:focus{
  outline: none;
}

body {
    padding-top: 90px;
}

/*======================================================
				HEADER CSS
======================================================*/

#header {
    padding: 10px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    top: 0;
    z-index: 10000;
    width: 100%;
    background: #fff;
    height: 70px;
    position: fixed!important;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#header.nav-up {
    top: -70px;
    width: 100%;
    z-index: 10000;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#header h1#logo {
    padding: 0;
    margin-left: 0px;
    margin-top: 0px;
    float: left;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease
}
#header h1#logo a {
    display: block;
    max-width: 170px
}
#header h1#logo img {
    height: 45px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#header #menu {
    margin-top: 8px;    
    float: right;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#header #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#header #menu ul li {
    display: inline-block;
    margin-left: -4px;
    float: left;
    position: relative;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#header #menu .mainmenu .lt-child a {
    padding-right: 10px;
    float: left;
}
#header #menu .mainmenu .lt-child a.btn-danger {
    padding: 3px 7px;
    font-size: 12px;
    text-transform: none;
    margin-top: 3px;
}
#header #menu ul li a {
    font-size: 15px;
    padding: 7px 20px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: #3b3b3b;
}

#header #menu ul li a:hover{
  color: #0094da;
  text-decoration: none;
}
#header #menu ul li a.btn{
    padding-left: 10px;
    text-align: center;
    color: #fff;
}

#header #icon_menu {
    position: relative;
    cursor: pointer;
    float: left;
    color: #0094da;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 20px
}
#header #icon_menu:hover {
    color: #0094da;
}
#header #icon_menu:before {
    content: "\f0c9";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px
}

#header #menu ul li.has-child:hover > ul.child {
    opacity: 1;
    visibility: visible;
}
#header #menu ul li.has-child:before {
    display: block;
    content: "";
    height: 6px;
    width: 10px;
    margin-top: -2px;
    position: absolute;
    right: 6px;
    top: 50%;
    display: none;
}
#header #menu ul li.has-child .child {
    background: #fff;
    left: 0;
    min-width: 250px;
    position: absolute;
    top: 100%;
    z-index: 999;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}
#header #menu ul li.has-child .child li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px #eee solid;
    font-weight: bold;
    float: none;
}

#header #menu ul li.has-child .child li a {
    color: #3b3b3b;
    font-weight: 500;
    text-transform: none;
}

#header #menu ul li.has-child .child li a:hover {
    color: #0094da;
}

@media (min-width: 993px) {
    #header #menu {
        display: block !important
    }
}
@media (max-width: 992px) {
    #header #menu {
        margin: 15px 0 0 0;
        padding-bottom: 5px;
        padding-top: 5px;
        float: left;
        width: 100%;
        display: none;
        background: #fff;
        border-radius: 4px;
        -webkit-box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
        box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    }
    #header h1#logo {
        position: absolute;
        left: 50px;
        right: 50px;
        padding: 0;
        text-align: center;
        margin: 0 auto!important;
    }
    #header h1#logo a {
        margin: 0 auto;
    }
    #header h1#logo a img {
        height: 40px;
    }
    #header #menu ul li {
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 1px #eee solid;
    }
    #header #menu ul li a {
        padding-left: 15px;
        color: #3b3b3b;
        font-size: 14px;
    }
    #header #menu ul li a:hover {
        color: #0094da;
    }
    #header #menu ul li {
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 1px #eee solid;
    }

    #header #menu ul li.has-child:hover ul.child {
        display: block;
    }

    #header #menu ul li.has-child:before {
        top: 15px;
    }

    #header #menu ul li.has-child ul.child {
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        padding-left: 20px;
        display: none;
    }
}
@media (max-width: 480px) {
    #header #icon_menu {
        margin-top: 15px
    }
}
/*======================================================
				END
======================================================*/


/*======================================================
				LOGIN SINGUP CSS
======================================================*/

.login-bg {
  height: 100%;
//   background-image: image-url('loginbg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.registration-bg {
  height: 100%;
//   background-image: image-url('regbackg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading{
  h1 {
    text-align: center;
  }
}
.form-control{
   margin: 20px 4px;
}

.social .circle{
	background-color: #EEEEEE;
	color: #FFFFFF;
	border-radius: 100px;
	display: inline-block;
	margin: 15px 17px;
	padding: 10px;
}
.social .circle .fa{
    font-size: 14px;
}
.social .facebook{
    background-color: #455CA8;
    color: #FFFFFF;
}
.social .login{
    background-color: #403A3A;
}
.social .facebook:hover{
    background-color: #6E83CD;
}
.social .login:hover{
    background-color: #4D4D4d;
}

.forgot {
    margin-top: 10px;   
}
.forgot .forgot-pass {
    font-size: 15px;
}
.forgot .forgot-pass:hover {
    color: #23527c;
    text-decoration: underline;
}


/*======================================================
				END
======================================================*/